streamlit
python-dotenv
requests
pytube
yt-dlp
langchain
langchain-community
langchain-groq
huggingface-hub
torch
numpy
pandas
assemblyai
openai
llama-index==0.4.15
PyPDF2
chromadb
ffmpeg
transformers
sentence-transformers
tf-keras
